.jumbotron {
  background-color: #002E5D;
  color: #E2F6F6;
}

.App {
  background-color: #ECECEC;
  color: #E2F6F6;
  min-width: 100vw;
  min-height: 100vh;
}

a {
  color: #AFFFA5;
}

a:hover {
  color:#D6FFD1;
}

a:visited {
  color: #FFD87C;
}