/* 
#2DE1FC - Sky Blue (light blue)
#2AFC98 - Spring green (light green)
#09E85E - Malachite (medium green)
#16C172 - Emerald (green)
#214F4B - Jungle green (dark green)
#5F0A16 - Rosewood (deep red)

#FFFFFF - White
#002E5D - Navy
#0062B8 - Royal blue
*/

.jumbotron {
   background-color: #002E5D;
   color: #FFFFFF;
}

.App {
   background-color: #0062B8;
   color: #FFFFFF;
}

.card {
   background-color: #002E5D;
}

.gridItem {
   width: 75%;
}